<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481427469007-iraru2a9ai9kttkl4p2khp8vr0k3nqrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481427469007-iraru2a9ai9kttkl4p2khp8vr0k3nqrk</string>
	<key>API_KEY</key>
	<string>AIzaSyCCkprtYtCGf5-Q0UwWOY15bbw3uXCJLIw</string>
	<key>GCM_SENDER_ID</key>
	<string>481427469007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-3cb6f</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-3cb6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481427469007:ios:d3132a1fbf873d76a1bdba</string>
</dict>
</plist>